<html>
    <head>
      <title>ERNEST.AI - </title>
      <link rel="icon" href="favicon.ico" type="image/x-icon"/>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
    </head>
<style>
    body {
        background-color: red;

    }
    #text {
        max-width: 400px;
        margin: 0 auto;
    }
</style>
    <body>
        <div id="text">
            {{{bookText}}}
        </div>
    </body>
</html>
