<html>
    <head>
    </head>
<style>
    body {
        background-color: red;

    }
    #text {
        max-width: 400px;
        margin: 0 auto;
    }
</style>
    <body>
        <div id="text">
            {{{bookText}}}
        </div>
    </body>
</html>