<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
	
	<link rel='stylesheet', href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!-- 	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
 -->	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!-- JQUERY LINK -->
</head>

<body>
    <!-- NAVIGATION BAR -->
    <nav>
        <h1 id="home">ERNEST.AI</h1>
        <ul id="navList">
            <a href="#personalStatement"><li>ABOUT ME</li></a>
            <a href="Rummler, Karl - Resume.pdf" target="_blank"><li>BOOKS</li></a>
        </ul>
    </nav>
	<div id="globalWrap">
		<div id="book">
		<div id="bookInfo">
			<h1 id="bookTitle">The Adventures of Sherlock Holmes</h1>
			<div id="by">by</div>
			<div id="author">Arthur Conan Doyle</div>
			<hr>
		</div>
            {{{bookText}}}
		</div>
		<div id="hLine"></div>
		<div id="annotations">
			<h1 style="height: 100px;"></h1>
			<div id="comments"></div>
		</div>
	</div>

</body>
	<script src="/js/highlight.js"></script>
	<script src="/js/aiHighlight.js"></script>
	<script src="/js/anonHighlight.js"></script>
</html>