<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>ERNEST.AI </title>
	<link rel="icon" href="favicon.ico" type="image/x-icon"/>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

	<link rel='stylesheet', href="/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<!-- 	<link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
 -->	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<!-- JQUERY LINK -->



<!-- DEACON NAVIGATION BAR -->

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/creative.min.css" rel="stylesheet">

    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

    <!-- END OF DEACON NAV BAR -->
</head>

<body>
    <!-- NAVIGATION BAR -->
	<nav>
        <a href="/" id="aHome"><h1 id="home">ERNEST.AI</h1></a>
        <ul id="navList">
            <a href="#personalStatement"><li>BOOKS</li></a>
            <a href="Rummler, Karl - Resume.pdf" target="_blank"><li>ABOUT</li></a>
        </ul>
    </nav>
    <!-- END OF NAVIGATION -->
	<div id="globalWrap">
		<div id="book">
		<div id="bookInfo">
			<h1 id="bookTitle">The Adventures of Sherlock Holmes</h1>
			<div id="by">by</div>
			<div id="author">Arthur Conan Doyle</div>
			<hr>
		</div>
            {{{bookText}}}
		</div>
		<div id="hLine"></div>
		<div id="annotations">
			<h1 style="height: 100px;"></h1>
			<div id="comments"></div>
		</div>
	</div>

</body>
	<script src="/js/highlight.js"></script>
	<script src="/js/aiHighlight.js"></script>
	<script src="/js/anonHighlight.js"></script>
</html>
