html, body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

body {
	background-color: #F7F7F7;
}

/* START OF NAVIGATION */
nav {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 8vh;

    background-color: #0A000A;
    padding: 10px 0px 10px 0px;
    box-shadow: 1px 1px 1px #F0F0F0;
}
nav h1 {
    display: flex;
    align-items: center;
    flex: 3;

    padding-left: 2%;

    font-family: 'myFirstFont';
    color: #F5F5F5;
}
#navList {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;

    height: 100%;
}
#navList a {
    display: inline-block;
    text-align: center;

    width: 92px;

    color: #F3F3F3;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 110%;
    text-decoration: none;
    
    margin: auto auto auto auto;
    text-transform:uppercase; 
}
#navList li:after {
  display: block;
  content: '';
  border-top: solid 3px #90EE90;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
#navList li:hover:after { transform: scaleX(1); }

#navList a li {
    padding-top: .5em;
}
/* END OF NAVIGATION */


#globalWrap {
	background-color: #FDFDFD;
    display: flex;
    flex-direction: row;
    width: 80%;
    padding: 5px;
    padding-left: 13px;
    margin: 0 auto 0 auto;
}

#book {
    flex: 5;
	font-family: 'Raleway', sans-serif;
	line-height: 120%;
	margin-right: 30px;
}
#hLine {
	margin-top: 102px;
	width: 2px;
	height: inherit;
	background-color: #87dd87;
	border-radius: 5%;
}
#annotations {
	margin-left: 30px;
	margin-right: 30px;
	display: flex;
	flex-direction: column;
	flex: 2;
}
#annotations h1 {
	min-height: 100px;
	margin: 0 auto 0 auto;
}
span {
	cursor: pointer;
	cursor: hand;
}
#comments {
/*	padding-top: 14%;
*/	width: 100%;
	margin-top: 30px;
	position: fixed;
}
.annotationedNotes {
	font-family: 'Lora', serif;
}
.aiHighlight {
	background-color: #e2ebff;
}
span {
    cursor: pointer;
    cursor: hand;
}
ul {
	list-style: none;
}